<h2>Blog posts</h2>
<h3>You are viewing all (<%= posts.length %>) posts</h3>


  <% posts.each do |post| %>
<li>
    <%= post.id %>.
    <a href= "/posts/<%= post.id %>"><%= post.title %></a>
</li>
  <% end %>

<p>Would you like to create a <%= link_to("new post", new_post_path) %></p>





